<% layout('/layouts/adminBoilerplate.ejs') %>

<a href="/Gamedify/admin/course/new"><button>Add New Course</button></a>
<a href="/Gamedify/admin/view/course"><button>View Course</button></a>
<a href="/Gamedify/admin/view/chapter"><button>View chapter </button></a>
<a href="/Gamedify/admin/view/question"><button>View Question </button></a>
   