<% layout('/layouts/adminBoilerplate.ejs') %>


<div class="row course-page">
    <div class="col-8 offset-2">
        <br><br>
        <h3>Add a Chapter</h3>
        <br>
        <form action="/Gamedify/admin/<%=id%>/chapter" method="post" novalidate class="needs-validation" >
        
            <div class="mb-3">
                <label for="title" class="form-label">Chapter Name</label>
                <input type="text" id="title" name="chapterName" placeholder="" class="form-control" required>
                <!-- <div class="valid-feedback">Title looks good!</div> -->
                <div class="invalid-feedback">Enter </div>
            </div>
            <br>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>