<% layout('/layouts/adminBoilerplate.ejs') %>
    


<div class="row course-page">
    <div class="col-6 offset-2 ">
        <br><br>
        <h3>Create a New Course</h3>
        <br>
        <form action="/Gamedify/admin/course/new" method="POST" novalidate class="needs-validation" >
        
            <div class="mb-3">
                <label for="title" class="form-label">Course Name</label>
                <input type="text" id="title" name="courseName" placeholder="" class="form-control" required>
                <!-- <div class="valid-feedback">Title looks good!</div> -->
                <div class="invalid-feedback">Enter Name</div>
            </div>
            
            <div class="mb-3">
                <label for="description" class="form-label">About Course</label>
                <textarea name="aboutCourse" id="description" cols="30" rows="2" placeholder="" class="form-control" required></textarea>
                <div class="invalid-feedback">Enter</div>
            </div>
            <br>
            <button class="btn btn-dark add-btn">Add</button>
            <br><br>
        </form>
    </div>
</div>