<div class="sidebar">
    <div class="sidebar-heading">
            <h3>Admin</h3>  
    </div>
    <div class="Detail">
        <div class="outer-detail">
            <div class="inner-detail">
                <div class="info"><a href="/Gamedify/admin">DashBoard</a></div>
                <div class="info"><a href="/Gamedify/admin/view/course">Course</a></div>
                <div class="info"><a href="/Gamedify/admin/view/chapter">Chapter </a></div>
                <div class="info"><a href="/Gamedify/admin/view/question">Question</a></div>
            </div>
        </div>
    </div> 
</div>
