<div class="navbar">
    <div>----------------------Course------Chapter------Question--------------------<b style="color:red">GAMEDIFY</b></div>
</div>


<!-- <div class="account_top_area">
    <div class="container-fluid">
      <p class="acc_logo"><a href="/Gamedify/admin" title="Naubatech"><img src="images/naubatech.png" alt="Gamedify"></a></p>
      
      <div class="menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-lg-0 fs13">
              <li class="nav-item"><a class="nav-link active" href="#" title="My Sites">My Sites</a></li>
              <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Subscriptions">Explore</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"> <a class="dropdown-item" href="#" title="Updates &amp; Releases">Updates &amp; Releases</a> <a class="dropdown-item" href="#" title="Inspiring Websites">Inspiring Websites</a> <a class="dropdown-item" href="#" title="eCommerce School">eCommerce School</a></div>
              </li>
              <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Help">Help</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown"><a class="dropdown-item" href="#" title="Updates &amp; Releases">Updates &amp; Releases</a> <a class="dropdown-item" href="#" title="Inspiring Websites">Inspiring Websites</a> <a class="dropdown-item" href="#" title="eCommerce School">eCommerce School</a></div>
              </li>
              <li class="nav-item"><a class="nav-link" href="#" title="Hire a Professional">Hire a Professional</a></li>
            </ul>
          </div>
        </nav>
      </div>
      
      <div class="acc_top_srch">
      <p class="d-block d-md-none fs18 shownext"><i class="fas fa-search"></i></p>
      <div class="acc_srch_form"><input type="text" placeholder="Search.."> <button type="submit"><i class="fas fa-search"></i></button></div>
      </div>
      
      <div class="acc_top_rgt">
        <ul>
          <li class="dropdown">
            <p class="acc_top_noti" data-toggle="dropdown"><span>9</span><a href="javascript:void();" title="Inbox"><i class="far fa-comment-dots"></i></a></p>
            <div class="dropdown-menu" style="width:400px;">
            <div class="p-3 bb2">
            <p class="float-left fs16 black">Inbox</p>
            <p class="float-right blue2 fs13 mt-1"><a href="#">Mark All as Read</a></p>
            <p class="clearfix"></p>
            </div>
            <div class="noti_list">
            <p class="user_thmb"><span><a href="#"><img src="images/user-thmb1.jpg" alt=""></a></span></p>
            <div class="noti_rgt">
            <p class="fs13 weight600"><a href="#">Ascend by naubatech</a></p>
            <p class="fs12">Inbox seamlessly connect</p>
            <p class="float-left grey fs12">Mysite</p>
            <p class="float-right fs12 grey">Nov 23</p>
            <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            </div>
            <div class="noti_list">
            <p class="user_thmb"><span><a href="#"><img src="images/user-thmb2.jpg" alt=""></a></span></p>
            <div class="noti_rgt">
            <p class="fs13 weight600"><a href="#">Ascend by naubatech</a></p>
            <p class="fs12">Inbox seamlessly connect</p>
            <p class="float-left grey fs12">Mysite</p>
            <p class="float-right fs12 grey">Nov 23</p>
            <p class="clearfix"></p>
            </div>
            <p class="clearfix"></p>
            </div>
            </div>
          </li>
          <li class="dropdown">
            <p class="acc_top_noti" data-toggle="dropdown"><span>5</span><a href="javascript:void();" title="Notifications"><i class="far fa-bell"></i></a></p>
            <div class="dropdown-menu" style="width:400px;">
            <div class="p-3 bb2">
            <p class="fs16 black">Notifications</p>
            </div>
            <div class="noti_list">
            <p class="fs13 weight600"><a href="#">Ascend by naubatech</a></p>
            <p class="fs12">Inbox seamlessly connect</p>
            <p class="fs12 grey">Nov 23</p>
            </div>
            <div class="noti_list">
            <p class="fs13 weight600"><a href="#">Ascend by naubatech</a></p>
            <p class="fs12">Inbox seamlessly connect</p>
            <p class="fs12 grey">Nov 23</p>
            </div>
            </div>
          </li>
          <li>
            <p class="acc_top_noti"><span>2</span><a href="#"><i class="fas fa-bullhorn"></i></a></p>
          </li>
          <li class="dropdown">
            <p class="lang_link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-user"></i> <span class="d-none d-md-inline-block">Ajay Kumar</span></p>
            <div class="dropdown-menu"> <a class="dropdown-item" href="#">Account Setting</a>
              <p class="bb2 mt-2 mb-2"></p>
             <a class="dropdown-item" href="#">Mailboxes</a> 
            <p class="bb2 mt-2 mb-2"></p>
              <a class="dropdown-item" href="#">Create a New Site</a> <a class="dropdown-item" href="#">Help Center</a> 
              <a class="dropdown-item" href="#">Hire a Professional</a>
              <p class="bb2 mt-2 mb-2"></p>
              <a class="dropdown-item" href="#" title="English"><i class="fas fa-globe"></i> En</a>
              <p class="bb2 mt-2 mb-2"></p>
              <a class="dropdown-item" href="#">Logout</a> </div>
          </li>
        </ul>
      </div>
      <p class="clearfix"></p>
    </div>
  </div>
</header> -->