<div class="Sidebar">
    <div id="sidebarpart-1"><a class="navbar-brand" href="/Gamedify">Gamedify</a></div>
    <div id="sidebarpart-2">
        <div id="a">
            <a href="/Gamedify/explore"><div id="b">Explore</div></a>
            <a href=""><div id="c"></div></a>
        </div>
    </div>
    <div id="sidebarpart-3">
        <div id="sidebar3">
            <a href="#">Logout</a>
        </div>
    </div>
</div>