<div class="Sidebar">
    <div id="sidebarpart-1"><a class="navbar-brand" href="/Gamedify/explore">Gamedify</a></div>
    <div id="sidebarpart-2">
        <div id="a">
            <a href="/Gamedify/explore"><div id="b">Explore</div></a>
            <a href="/Gamedify/doubtQues"><div id="c">Doubt Ques</div></a>
            <div id="d">Ask Ques ?</div>

        </div>
    </div>
    
    <div id="sidebarpart-31">
        <div id="sidebar3">
            <% if(currUser){ %>
            <a href="/Gamedify/userInfo">@<%=currUser.username%></a>
            <% } %>
        </div>
    </div>
    <div id="sidebarpart-3">
        <div id="sidebar3">
            <a id="ssside" href="/Gamedify/logout">Logout</a>
        </div>
    </div>
</div>
