<nav class="navbar navbar-expand-lg bg-body-tertiary start-navbar ">
    <div class="container-fluid color-self navbar-start">
      <a class="navbar-brand" href="/Gamedify" style="color: #00008B; font-size: xx-large;">#logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarNav-start " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" style="color: #FFA500;" aria-current="page" href="/Gamedify/explore">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: black; opacity: 80%;" aria-current="page" href="#">Problems</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" style="color: black; opacity: 80%;" aria-current="page" href="#">Discuss</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link active" style="color: black; opacity: 80%;" aria-current="page" href="#">User</a>
          </li> -->
        </ul>
      </div>
      <div>
      </div>
    </div>
  </nav>