body {
    height: 100vh;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;    
    /* overflow: hidden;  */
    display: flex;
}

.big-container {
    flex: 1;
    /* background-color: aqua; */
} 

.start-navbar {
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    height: 64px;
    width: 100%;
    /* margin-bottom: 2rem; */
    /* padding-bottom: ; */
    z-index: 2;
}

/* web-chapter.ejs */
.content1 {
    background-color: black;
    height: 270px;
    width: 100%;
    position: relative;
    top: 50px;
}


.inside1-content1 {
    /* background-color: aqua; */
    height: 60px;
    width: 50%;
    position: relative;
    top: 50px;
    left: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.inside2-content1 {
    /* background-color: aquamarine; */
    height: 80px;
    width: 70%;
    position: relative;
    top: 40px;
    left: 40px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.content2 {
    /* background-color: blueviolet; */
    height: 150px;
    position: relative;
    top: 32px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #393939;
}

.content2-inside {
    /* background-color: antiquewhite; */
    margin: 1rem;
    height: 100px;
    position: relative;
    top: 30px;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.content2-a {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #FF5F1F;
    margin-right: 0.5rem;
    font-weight: bold;
    box-shadow: #FF5F1F 0px 5px 15px;
    align-items: center;
    background-color: white;
}

.content2-b {
    flex: 1;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #FF5F1F;
    font-weight: bold;
    box-shadow: #FF5F1F 0px 5px 15px;
    align-items: center;
}

.content3 {
    /* background-color: brown; */
    height: 100%;
    position: relative;
    top: 100px;
    left: 90px;
    width: 80%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
}

.inside-content3 {
    /* background-color: aqua; */
    height: 120px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px;
    animation: all 1s ease-in-out;
    animation: boxLength 0.2s ease ;
}

.inside-content3:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    /* animation: 1s linear 0s boxLength ; */
    animation-fill-mode:forwards;
}

@keyframes boxLength {
    0%{
      /* pushes the sun down past the viewport */
      height: 120px;
    }
    100% {
      /* returns the sun to its default position */
      height: 180px;
    }
  }

.inside-content3-1 {
    /* background-color: antiquewhite; */
    flex:1;
    border-bottom: 1px solid black;
    padding: 1rem;
    font-weight: 900;
}

.inside-content3 p {
    padding: 0.5rem;
    position: relative;
    top: 10px;
    display: none;
}

.inside-content3-ques {
    /* background-color: blue; */
    flex:1;
    padding: 0.5rem;
    animation: 4s linear 0s boxNew ;
    animation-fill-mode:forwards;
}

@keyframes boxNew {
    0%{
        flex: 1;
    }
    100% {
        flex: 2;
    }
}

.inside-content3-ques-disp {
    /* height: 100px; */
    flex: 1;
    background-color: yellow;
    display: none;
}

/* web-ques-solve */
#solveform {
    /* background-color: black; */
    background-color: #CCCDC6;
    height: 665px;
    width: 100%;
    position: relative;
    top: 64px;
    left: 0px;
    overflow: hidden;
}

.allOption {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    cursor: pointer;
}

.ansTick {
    height: 40px;
    width: 300px;
    background-color: white;
    color: black;
    border-radius: 40px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    font-weight: bold;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
}



.clicked {
    background-color: green;
}

.radiobtn{
    /* display: none; */
    cursor: pointer;
}

.flash2 {
    position: relative;
    top: 60px;
}

.flash-btn {
    position: relative;
    top: 6px;
    left: 1280px;
}

#seeAns {
    display: none;
}

.logoutBtn {
    position: relative; 
    left: 1050px; 
    border-radius:20px;
    bottom: 4px;
}

.stickyfooter {
    display: none;
}

.doubtAns {
    background-color: #393939;
    height: 580px;
    width: 330px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    left: 4px;
}

.textarea {
    position: relative;
    top: 120px;
    left: 6px;
}

.quesddd{
    background-color: white;
    position: relative;
    top: 90px;
    left: 10px;
    height: 150px;
    width: 18rem;
    border-radius: 10px;
    padding: 1rem;
    overflow-y: scroll;
}


/* for media screen 326 */
@media screen and (max-width:426px) {
    body {
        height: 100vh;
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;    
        /* overflow: hidden;  */
        display: flex;
        /* background-color: #E9EAEC; */
    }
    
    .big-container {
        flex: 1;
        /* background-color: aqua; */
    }
    
    .doubtAns {
        background-color: #393939;
        height: 580px;
        width: 310px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        left: 4px;
    }

    .textarea {
        position: relative;
        top: 120px;
        left: 6px;
    }

    .quesddd{
        background-color: white;
        position: relative;
        top: 90px;
        left: 10px;
        height: 150px;
        width: 18rem;
        border-radius: 10px;
        padding: 1rem;
        overflow-y: scroll;
    }

    .stickyfooter{
        display: block;
        height: 490px;
        width: 60px;
        position: absolute;
        right: -60px;
        top: 124px;
        background-color: black;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        /* color: cadetblue; */
    }
    
    .start-navbar {
        border-bottom: 1px solid black;
        position: fixed;
        top: 0;
        height: 64px;
        width: 422px;
        /* margin-bottom: 2rem; */
        /* padding-bottom: ; */
        z-index: 2;
    }
    
    /* web-chapter.ejs */
    .content1 {
        background-color: black;
        height: 270px;
        width: 422px;
        position: relative;
        top: 50px;
    }
    
    
    .inside1-content1 {
        /* background-color: aqua; */
        height: 60px;
        width: 200px;
        position: relative;
        top: 30px;
        left: 40px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: white;
        font-size: larger;
        font-weight: bold;
    }
    
    .inside2-content1 {
        /* background-color: aquamarine; */
        height: 80px;
        width: 280px;
        position: relative;
        top: 80px;
        left: 40px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: white;
        overflow: scroll;
    }
    
    .content2 {
        /* background-color: blueviolet; */
        height: 150px;
        position: relative;
        top: 32px;
        padding-left: 2rem;
        padding-right: 2rem;
        width: 352px;
    }
    
    .content2-inside {
        /* background-color: antiquewhite; */
        margin: 1rem;
        height: 100px;
        position: relative;
        top: 30px;
        display: flex;
        /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    }
    
    .content2-a {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin-right: 0.5rem;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        align-items: center;
    }
    
    .content2-b {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        align-items: center;
    }
    
    .content3 {
        /* background-color: brown; */
        height: 300px;
        position: relative;
        top: 100px;
        left: 10px;
        width: 80%;
        margin-bottom: 4rem;
        display: flex;
        flex-direction: column;
    }
    
    .inside-content3 {
        /* background-color: aqua; */
        height: 120px;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        border: 2px solid black;
        border-radius: 20px;
    }
    
    .inside-content3:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        /* animation: 1s linear 0s boxLength ; */
        animation: boxLength 0.3s ease-in-out ;
        animation-fill-mode:forwards;
    }
    
    @keyframes boxLength {
        0%{
          /* pushes the sun down past the viewport */
          height: 120px;
        }
        100% {
          /* returns the sun to its default position */
          height: 180px;
        }
      }
    
    .inside-content3-1 {
        /* background-color: antiquewhite; */
        flex:1;
        border-bottom: 1px solid black;
        padding: 1rem;
        font-weight: 900;
    }
    
    .inside-content3 p {
        padding: 0.5rem;
        display: none;
    }
    
    .inside-content3-ques {
        /* background-color: blue; */
        flex:1;
        padding: 0.5rem;
        animation: 4s linear 0s boxNew ;
        animation-fill-mode:forwards;
    }
    
    @keyframes boxNew {
        0%{
            flex: 1;
        }
        50% {
            flex: 2;
        }
        100%{
            flex: 3;
        }
    }
    
    .inside-content3-ques-disp {
        /* height: 100px; */
        flex: 1;
        background-color: yellow;
        display: none;
    }
    
    /* web-ques-solve */
    #solveform {
        /* background-color: black; */
        background-color: #CCCDC6;
        height: 630px;
        width: 320px;
        position: relative;
        top: 64px;
        left: 0px;
        overflow: hidden;
    }
    
    .allOption {
        display: flex;
        flex-wrap: wrap;
        width: 400px;
        cursor: pointer;
    }
    
    button {
        position: relative;
        bottom: 40px;
    }

    .ansTick {
        height: 60px;
        width: 230px;
        background-color: white;
        color: black;
        border-radius: 40px;
        margin-bottom: 1rem;
        margin-right: 1rem;
        padding: 0.5rem;
        font-weight: bold;
        text-align: left;
        cursor: pointer;
        /* text-align: left; */
        display: flex;
    justify-content: left;
    align-items: center;
    }
    
    
    
    .clicked {
        background-color: green;
    }
    
    .radiobtn{
        /* display: none; */
        cursor: pointer;
    }
    
    .flash2 {
        position: relative;
        top: 60px;
    }
    
    .flash-btn {
        position: relative;
        top: 6px;
        left: 260px;
    }
    
    #seeAns {
        display: none;
    }
    
}