body {
    height: 100vh;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;    
    overflow: hidden; 
    display: flex;
    /* background-color: black; */
}

.big-container {
    flex: 1;
} 

.start-navbar {
    border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    height: 52px;
    width: 100%;
    /* z-index: ; */
}

.navbarNav-start {
    justify-content: right;
}

.flash2 {
    /* height: 20px; */
    position: absolute;
    top: 2px;
    left: 360px;
    height: 48px;
    width: 42%;
    z-index: 3;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: large;
    font-weight: bold;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 0.5rem;
}

/* start-sidebar.ejs */
.Sidebar {
    /* background-color: #00008B; */
    background-color: #393939;
    /* height: 100vh; */
    height: 100%;
    width: 197px;
    position: relative;
    top: 0px;
    z-index: 1;
}

#sidebarpart-1 {
    /* background-color: white; */
    color: white;
    background-color: black;
    height: 60px;
    width: 90%;
    position: absolute;
    top: 16px;
    left: 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    padding-top: 4px;
}

#sidebarpart-1:hover {
    color: black;
    background-color: white;
}

#sidebarpart-1 a {
    font-size: xx-large;
    font-weight: bold;
}

#sidebarpart-2 {
    background-color: white;
    height: 390px;
    width: 90%;
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 20px;
}

#sidebarpart-2 #a {
    position: absolute;
    height: 94%;
    width: 80%;
    /* background-color: black; */
    top: 10px;
    left: 18px;
    display: flex;
    flex-direction: column;
}

#a div {
    /* background-color: blue; */
    height: 40px;
    width: 100%;
    margin-bottom: 0.5rem;
    text-align: center;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-bottom: 1px solid black;
}

#a a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

#a a:hover {
    background-color: black;
    color: white;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


#a a div {
    padding-top: 0.5rem;
}

#sidebarpart-31 {
    background-color: white;
    height: 60px;
    width: 90%;
    position: absolute;
    top: 520px;
    left: 10px;
    border-radius: 20px;
}

#sidebarpart-31 a:hover {
    color: red;
}

#sidebarpart-3 {
    background-color: white;
    height: 60px;
    width: 90%;
    position: absolute;
    top: 590px;
    left: 10px;
    border-radius: 20px;
    display: none;
}

/* #sidebarpart-3 button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 14px;
    left: 46px;
    width: 60%;
    font-size: larger;
    font-weight: bold;
} */


/* #sidebarpart-3 button:hover {
    color: red;
} */


#sidebar3 {
    /* background-color: aquamarine; */
    height: 40px;
    width: 80%;
    position: absolute;
    top: 10px;
    left: 15px;
    /* text-align: center; */
}

#sidebar3 a {
    text-decoration: none;
    position: absolute;
    top: 8px;
    left: 45px;
    font-size: larger;
    font-weight: bold;
    color:#262626;
}

#sidebarpart-3 a:hover {
    color: red;
}

.logoutBtn {
    display: none;
}

/* explore.ejs */
.explore-1{
    /* background-color: black; */
    height: 616px;
    width: 82%;
    position: absolute;
    top: 114px;
    left: 210px;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 6rem 7rem 0 6rem;
}

.explore-1 a {
    text-decoration: none;
    color: black;
}

.course-box {
    /* background-color: white; */
    background-color: #393939;
    border-radius: 20px;
    height: 260px;
    width: 200px;
    margin-right: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: #F545AF 0px 0px 0px 3px; */
    border: 1px solid #FF5F1F;
    transform: scale(1);
    box-shadow: #FF5F1F 0px 12px 28px 0px, #FF5F1F 0px 2px 4px 0px, #FF5F1F 0px 0px 0px 1px inset;
}

.course-box #a{
    /* background-color: brown; */
    height: 60%;
    padding: 0.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* box-shadow: #000000 0px 0px 0px 3px; */
}

.course-box #a .insidea {
    /* flex:1; */
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    color: white;
    font-size: larger;
    padding: 0.2rem;
    text-align: center;
}

.course-box #b {
    /* background-color: burlywood; */
    /* border-top: 1px solid black; */
    height: 60%;
    padding: 0.7rem;
    overflow-y: scroll;
    /* box-shadow: #F545AF 0px 0px 0px 3px; */
    color: white;
}

.course-box #b::-webkit-scrollbar{
    width: 8px;
}

.course-box #b::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.course-box:hover #b::-webkit-scrollbar-thumb{
    background-color: black;
}

.course-box:hover {
    transform: scale(1.2);
    z-index: 6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.searchoption {
    position: absolute;
    top: 10px;
    left: 450px;
    width: 200px;
    width: 100px;
}

.searchoption input {
    border-radius: 20px;
    padding-left: 0.5rem;
}

.searchbtn {
    position: absolute;
    left: 220px;
    top: 0px;
    border-radius: 20px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* media setting */
@media screen and (max-width: 340px) {

    .searchoption {
        /* display: none; */
        position: absolute;
        left: 18px;
        top: 290px;
        z-index: 1;
    }

    body {
        height: 100vh;
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;    
        /* overflow: hidden;  */
        display: flex;
        flex-direction: column;
        /* background-color: #E9EAEC; */
    }

    .logoutBtn {
        position: relative;
        left: 50px;
        bottom: 10px;
        border-radius: 10px;
    }

    .logoutBTN {
        display: none;
    }
    
    .big-container {
        flex: 1;
    } 

    /* start-navbar.ejs */
    .btn4 {
        display: none;
    }
    .btn5 {
        position: relative;
        left: 100px;
    }
    .btn6 {
        position: relative;
        right: 30px;
    }
    .start-navbar {
        border-bottom: 1px solid black;
        position: fixed;
        top: 0;
        height: 56px;
        width: 320px;
        /* z-index: ; */
    }
    
    .navbarNav-start {
        justify-content: right;
    }

    /* start-sidebar.ejs */
    /* .Sidebar {
        background-color: rgb(218, 216, 216);
        background-color: #F2B5D4;
        height: 100vh;
        height: 686px;
        width: 127px;
        position: sticky;
        top: 0;
        top: 70px;
        flex: 1;
    } */
    .Sidebar {
        /* background-color: rgb(218, 216, 216); */
        /* background-color: #F2B5D4; */
        position: sticky;
        top: 58px;
        height: 100px;
        width: 320px;
    }

    #sidebarpart-1 {
        /* background-color: white; */
        color: white;
        background-color: black;
        height: 60px;
        width: 60px;
        position: absolute;
        top: 16px;
        left: 10px;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        /* text-align: center; */
        padding-top: 4px;
    }

    #sidebarpart-1:hover {
        color: black;
        background-color: white;
    }

    #sidebarpart-1 a {
        font-size: xx-large;
        font-weight: bold;
        color: teal;
    }

    #sidebarpart-2 {
        background-color: white;
        height: 110px;
        width: 320px;
        position: absolute;
        top: 100px;
        left: 6px;
        border-radius: 20px;
    }

    #sidebarpart-2 #a {
        position: absolute;
        height: 50px;
        width: 300px;
        /* background-color: black; */
        top: 10px;
        left: 14px;
        display: flex;
        flex-direction: column;
    }

    #sidebarpart-31 {
        background-color: white;
        height: 60px;
        width: 100px;
        position: absolute;
        top:20px;
        left: 210px;
        border-radius: 20px;
    }
    
    #sidebarpart-31 a:hover {
        color: red;
    }

    #a div {
        /* background-color: blue; */
        height: 40px;
        width: 290px;
        margin-bottom: 0.5rem;
        text-align: center;
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }

    #a a {
        text-decoration: none;
        color: black;
        font-weight: 900;
    }

    #a a:hover {
        /* background-color: black;
        color: white; */
        border-radius: 14px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    }
    

    #a a div {
        padding-top: 0.5rem;
    }

    #sidebarpart-3 {
        background-color: white;
        height: 60px;
        width: 100px;
        position: absolute;
        top: 20px;
        left: 360px;
        border-radius: 20px;
    }


    #sidebar3 {
        /* background-color: aquamarine; */
        height: 40px;
        width: 80%;
        position: absolute;
        top: 8px;
        left: 4px;
    }

    #sidebar3 a {
        text-decoration: none;
        position: absolute;
        top: 8px;
        left: 14px;
        font-size: larger;
        font-weight: bold;
    }

    #sidebarpart-3 a:hover {
        color: red;
    }

    /* explore.ejs */
    .explore-1{
        /* background-color: black; */
        height: 304px;
        width: 320px;
        position: relative;
        top: 245px;
        left: 2px;
        overflow: scroll;
        display: flex;
        /* flex-direction: column; */
        /* flex-direction: row; */
        flex-wrap: wrap;
        /* justify-content: space-between; */
        padding: 1rem;
        /* padding-bottom: 0.5rem; */
    }

    .course-box {
        background-color: white;
        border-radius: 20px;
        height: 220px;
        width: 180px;
        margin-right: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        /* box-shadow: #F545AF 0px 0px 0px 3px; */
        border: 1px solid black;
        box-shadow: rgba(84, 241, 60, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(79, 4, 4, 0.05) 0px 0px 0px 1px inset;
    }

    .course-box #a{
        /* background-color: brown; */
        height: 40%;
        padding: 0.5rem;
        /* box-shadow: #000000 0px 0px 0px 3px; */
    }

    .course-box #b {
        /* background-color: burlywood; */
        border-top: 1px solid black;
        height: 60%;
        padding: 0.5rem;
        overflow-y: scroll;
        color: black;
        /* box-shadow: #F545AF 0px 0px 0px 3px; */
    }

    .course-box #b::-webkit-scrollbar{
        width: 8px;
    }

    .course-box #b::-webkit-scrollbar-thumb{
        background-color: transparent;
    }

    .course-box:hover #b::-webkit-scrollbar-thumb{
        background-color: black;
    }

    
    .course-box:hover {
        transform: scale(1);
        /* z-index: 2; */
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }

    .flash2 {
        /* height: 20px; */
        position: absolute;
        top: 2px;
        left: 100px;
        height: 48px;
        width: 220px;
        z-index: 3;
        padding: 0;
        margin: 0;
        text-align: left;
        font-size: large;
        font-weight: bold;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        padding-left: 0.5rem;
    }

    .flash-btn{
        position: relative;
        left: 80px;
        /* top: 10px; */
    }
    
}


