
body {
    /* padding: 0; */
    /* padding: 2rem; */
    display: flex;
    /* background-color:#CCCDC6; */
    /* overflow: hidden; */
}

.infoUser {
    flex: 1;
}

.inside-infoUser {
    height: 650px;
    width: 95%;
    background-color:#CCCDC6;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    padding: 0.5rem;

}

.Aa {
    /* background-color: aqua; */
    width: 80%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

.Bb {
    /* background-color: antiquewhite; */
    height: 100%;
    /* width: 20%; */
    flex: 1;
    border-radius: 20px;
    /* margin: 1rem; */
    padding: 1rem;
    border-left: 1px solid black;
}

.ia {
    /* background-color: blueviolet; */
    width: 100%;
    flex: 2;
    border-radius: 20px;
    display: flex;
    padding: 0.5rem;
}
.ib {
    /* background-color: yellow; */
    width: 100%;
    flex: 1;
    border-radius: 20px;
    display: flex;
    padding: 0.4rem;
    align-items: center;
}
.SSS {
    width: 36%;
    margin-right: 0.4rem;
}

.qqqq {
    /* background-color: cadetblue; */
    flex: 1;
    margin-right: 0.5rem;
}

#aaaa div {
    height: 370px;
    width: 24%;
    /* background-color: black; */
    position: absolute;
    top: 66px;
    left: 10px;
    margin-bottom: 1rem;
    border-radius: 20px;
}

.qqqq1 {
    background-color: cadetblue;
    flex: 2;
    margin-right: 0.5rem;
}

.ibb {
    /* background-color: brown; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.bbbb {
    height: 80px;
    width: 100%;
    background-color: white;
    margin-bottom: 0.4rem;
    border-radius: 40px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 900;
}

.dashboard {
    opacity: 0.6;
}
.correct {
    opacity: 0.6;
}
.incorrect {
    opacity: 0.6;
}

.dashboard:hover {
    opacity: 1;
    background-color: black;
    color: white;
    transform: scale(1.2);
    border-radius: 0;
    margin-bottom: 1rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.correct:hover {
    opacity: 1;
    background-color: black;
    color: white;
    transform: scale(1.2);
    border-radius: 0;
    margin-bottom: 1rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1rem;
}
.incorrect:hover {
    opacity: 1;
    background-color: black;
    color: white;
    transform: scale(1.2);
    border-radius: 0;
    margin-bottom: 1rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 1rem;
}

.display1 {
    /* background-color: blue; */
    height: 400px;
    width: 60%;
    position: absolute;
    /* display: none; */
    overflow-y: scroll;
    background-color: #CCCDC6;
}

.display2 {
    /* background-color: green; */
    height: 400px;
    width: 60%;
    position: absolute;
    /* display: none; */
    overflow-y: scroll;
    background-color: #CCCDC6;
}

.cccccc {
    font-size: larger;
    font-weight: bold;
    color: red;
}

#aaaa #img {
    background-color: black;
    color: white;
    height: 60%;
    width: 80%;
    position: relative;
    top: 6px;
    left: 60px;
    text-align: center;
}

#aaaa #username {
    height: 60px;
    width: 40%;
    background-color: white;
    color: black;
    position: relative;
    top: 30px;
    left: 120px;
    padding: 1rem;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
} 

#aaaa h4 {
    position: relative;
    top: 20px;
    left: 120px;
    /* width: 10%; */
}


.blockUser {
    background-color: rgb(48, 47, 47);
    height: 1200px;
    width: 1900px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
    color: orangered;
    /* text-align: center; */
}

.footer {
    display: none;
}

/* for screen of size 326 -------------------------------------------------------------------------------*/
@media screen and (max-width: 426px) {

    .blockUser {
       display: none;
    }

    body {
        /* padding: 0; */
        /* display: flex; */
        height: 100vh;
        padding: 2rem;
        /* background-color:#CCCDC6; */
        /* overflow: hidden; */
        padding: 0;
        background-color: #01257D;
    }
    
    .infoUser {
        /* flex: 1; */
        display: block;
        /* background-color: #00FFFF; */
    }

    .ia {
        display: block;
        position: relative;
        top: 60px;
        padding: 0px;
        height: 360px;
    }

    .ib {
        /* display: none; */
        position: relative;
        top: 240px;
        height: 100vh;
        
        display: flex;
        flex-direction: column;
    }

    /* .ib {
        display: none;
        position: relative;
        top: 100px;
        display: flex;
        flex-direction: column;
    } */

    .Bb {
        display: block;
        /* position: absolute; */
        top: 0;
        padding: 0;
        /* height: 620px; */
        height: 100vh;
        border: 1px solid white;
        width: 310px;
        position: absolute;
        left: 4px;
        top: 0;
        border-right: 1px solid white;
        border-top: 1px solid white;
        /* display: none; */
    }

    .Aa {
        display: block;
        position: absolute;
        /* height: 630px; */
        height: 100vh;
        
        width: 320px;
        top: 630px;
    }

    .inside-infoUser {
        padding: 0;
        display: block;
        /* position: absolute;
        top: 500px; */
        width: 316px;
        height: 4900px;
        position: absolute;
       /* top: 150px; */
       top: 2px;
       left: 2px;
       background-color: #01257D;
        /* right: 20px;
        bottom: ; */
    }

    .ibb {
        height: 620px;
        width: 300px;
        position: relative;
        left: 1px;
        padding-top: 20px;
        /* display: block; */
    }

    .bbbb {
        height: 80px;
        transform: scale(0.9);
    }
    .bbbb:hover {
        transform: scale(1);
        margin: 2px;
        border-radius: 50px;
    }

   #aaaa {
        height: 400px;
    }

    #aaaa #img {
        position: relative;
        top: 10px;
        /* right: 40px; */
        left: 50px;
        height: 200px;
        width: 200px;
        padding: 0;
    }

    .qqqq {
        display: flex;
        height: 200px;
    }

    #aaaa div {
        /* display: flex;  */
         flex-direction: column;
        justify-content: left;
        align-items: left;
        padding-right: 20px;
        height: 510px;
        width: 310px;
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0;
        padding-top: 10px;
        padding-right: 60px;
    }

    #username {
        display: block;
        position: absolute;
        top: 0;
        left: 30px;
        margin-right: 10px;
    }

    .display1 {
        display: none;
    }
    .display2{
        display: none;
    }

    .disp1 {
        width: 300px;
        height: 100vh;
        border: 1px solid white;
        position: relative;
        top: 1860px;
        left: 8px;
        padding: 0.4rem;
    }

    .disp2 {
        width: 300px;
        height: 100vh;
        border: 1px solid white;
        position: relative;
        top: 2000px;
        left: 8px;
        padding: 0.4rem;
    }

    h4 {
        width: 180px;
        display: none;
        height: 100vh;
        position: absolute;
        /* left: 10px; */
        right: 10px;
        margin-right: 10px;
    }

    .SSS {
        width: 300px;
        margin-bottom: 0.5rem;
    }

    .doubtq {
        position: relative;
        height: 100vh;
        border: 1px solid white;
        top: 2400px;
        left: 8px;
        width: 300px;
        padding: 0.4rem;
    }

    .footer {
        display: block;
        position: fixed;
        bottom: 0;
        height:60px;
        background-color: aliceblue;
        width: 319px;
        text-align: center;
        font-weight: bolder;
        font-size: large;
    }

}
