body {
    display: flex;
    flex-direction: column;
    font-family: "Anta", sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 900px;
}

.big-container {
    flex: 1;
}

.upbar {
    height: 100px;
    width: 100%;
    background-color: #393939;
    display: flex;
    justify-content: space-evenly;
}

#upbarpart-1 {
    height: 60px;
    width: 160px;
    background-color: white;
    position: relative;
    top: 19px;
    left: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upbarpart-1 a {
    font-size: x-large;
    font-weight: bolder;
}

#upbarpart-1:hover {
    background-color: black;
    color: white;
}

#upbarpart-2 {
    height: 60px;
    width: 660px;
    background-color: white;
    position: relative;
    top: 19px;
    left: 30px;
    border-radius: 20px;
    display: flex;
    padding: 8px;
}

#upbarpart-2 .a {
    margin-left: 10px;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upbarpart-2 .a a {
    text-decoration: none;
    color: white;
}

#upbarpart-2 .a:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
}

#upbarpart-2 .a:hover a {
    color: black;
}

#upbarpart-3 {
    background-color: white;
    height: 60px;
    width: 220px;
    position: relative;
    top: 20px;
    left: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#upbarpart-3 a {
    text-decoration: none;
    color: black;
    flex: 1;
    position: relative;
    left: 30px;
    font-size: larger;
}

#upbarpart-3 i {
    flex: 1;
    position: relative;
    left: 20px;
    font-size: x-large;
}

.explore {
    height: 360px;
    width: 100%;
    background-color: #393939;
    padding-top: 30px;
    padding-left: 26px;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow-x: scroll;
    display: flex;
}

.explore a {
    text-decoration: none;
    color: black;
}

.course-box {
    /* background-color: white; */
    background-color: #393939;
    border-radius: 20px;
    height: 260px;
    width: 200px;
    margin-right: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    /* box-shadow: #F545AF 0px 0px 0px 3px; */
    border: 1px solid #FF5F1F;
    transform: scale(1);
    box-shadow: #FF5F1F 0px 12px 28px 0px, #FF5F1F 0px 2px 4px 0px, #FF5F1F 0px 0px 0px 1px inset;
}

.course-box #a{
    /* background-color: brown; */
    height: 60%;
    padding: 0.5rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* box-shadow: #000000 0px 0px 0px 3px; */
}

.course-box #a .insidea {
    /* flex:1; */
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    color: white;
    font-size: larger;
    padding: 0.2rem;
    text-align: center;
    border-radius: 10px;
}

.course-box #b {
    /* background-color: burlywood;  */
    border-top: 1px solid black; 
    height: 60%; 
    padding: 0.7rem;
    overflow-y: scroll;
    /* box-shadow: #F545AF 0px 0px 0px 3px; */
    color: white;
    /* display: none; */
}

.course-box #b::-webkit-scrollbar{
    width: 8px;
}

.course-box #b::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.course-box:hover #b::-webkit-scrollbar-thumb{
    background-color: black;
}

.course-box:hover {
    transform: scale(1.2);
    z-index: 6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.doubtQues {
    position: absolute;
    top: 560px;
    left: 200px;
    background-color: black;
    height: 200px;
    width: 900px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    /* display: none; */
}

#icon1 {
    position: absolute;
    left: 850px;
    top: 85px;
    font-size: x-large;
    transform: scale(1.6);
    color: aliceblue;
    transition: all 1s ease;
}

#icon1:hover {
    /* transform: scale(1.4); */
    transform: rotate(0.5turn);
}

.doubtQues:hover #icon1 {
    color: black;
}

.doubtQues:hover {
    background-color: #FF5F1F;
}

.doubtQuestion {
    width: 600px;
    height: 200px;
    border-radius: 30px;
    padding: 1rem;
}



.doubtbtn {
    position: absolute;
    left: 660px;
    top: 40px;
    border-radius: 10px;
    height: 120px;
    width: 120px;
    font-size: larger;
    font-weight: bold;
    transition: all 1s ease-in;
}

.doubtbtn:active {
    background-color: black;
    color: white;
    transform: scale(0.8);
}

.footer {
    display: none;
}

.searchoption {
    position: absolute;
    left: 800px;
    top: 20px;
}

.iconSearch {
    display: none;
}

#searchText {
    display: none;
}

@media screen and (max-width:428px) {
    body {
        /* height: 634px; */
        width: 425px;
    }

    .big-container {
        height: 634px;
    }

    .upbar {
        width: 425px;
        height: 200px;
        flex-direction: column;
    }

    #upbarpart-1 {
        position: relative;
        top: 2px;
    }

    
    #upbarpart-2 {
        position: relative;
        left: 0px;
        top: 4px;
        width: 425px;
    }

    #upbarpart-3{
        position: absolute;
        top: 102px;
        left: 190px;
    }

    .explore {
        position: relative;
        top: 0px;
        border-top: 8px solid black;
        /* padding-left: 10px; */
        padding-top: 80px;
    }



    .doubtQues {
        display: none;
    }

    .logoutBtn {
        display: none;
    }

    .course-box {
        height: 200px;
        width: 180px;
    }

    .footer {
        display: block;
        height: 200px;
        width: 425px;
        /* background-color: aqua; */
        padding: 10px;
    }

    .writeDoubt {
        height: 180px;
        width: 400px;
        background-color: white;
        border-radius: 10px;
        border: 4px solid black;
    }

    .writeArea {
        height: 100px;
        width: 99%;
        margin: 2px;
    }

    .writeBtn {
        position: relative;
        top: 10px;
        left: 4px;
    }

    .searchoption {
        display: none;
    }

    .iconSearch {
        display: block;
        position: absolute;
        top: 20px;
        left: 350px;
        font-size: x-large;
    }

    #searchText {
        display: block;
        position: relative;
        width: 370px;
        left: 50px;
        top: 10px;
    }
}