<% layout("/layouts/boilerplate2.ejs") %>

<div class="course">
    <h3>Courses</h3>
    <div class="course-box">
        <div class="course-self">

            <% for(let course of courses){ %>
            <a href="#" style="text-decoration: none; color: black;">
                <div class="box">
                <div class="box-img">
                    <div class="box-title">
                        <b><%=course.courseName%></b>
                    </div>
                    <!-- <i class="fa-solid fa-g" style="color: #0d0d0d;"></i> -->
                </div>
                <div class="box-info">
                    <div class="i">
                        <div>A</div>
                        <p>Chapters</p>
                    </div>
                    <div class="i">
                        <div>B</div>
                        <p>Questions</p>
                    </div>
                    <div class="i">
                        <div>C</div>
                        <p>Answers</p>
                    </div>
                </div>
             </div>  
            </a>  
            <% } %>         
        </div>
    </div>
</div>