<% layout("/layouts/boilerplate2.ejs") %>

<div class="explore-1">
    <% for(let course of courses){ %>
    <div class="course-box ">
            <div id="a"><b><%=course.courseName%></b></div>
            <div id="b"><%=course.aboutCourse%></div>
    </div>
    <% } %>
</div>