<% layout("/layouts/boilerplate.ejs") %>

<div class="sign"></div>

<div class="sign-content row">
    <div class="inside-sign-content col-12">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
            <!-- <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter Username</div> -->
        </div>

        <!-- <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" required>
             <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter Email</div> 
        </div> -->

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
            <!-- <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Enter Password</div> -->
        </div>

        <div>
            <button type="button" class="btn btn-dark">Login</button>
        </div>
    </div>
</div>