<% layout("/layouts/boilerplate.ejs") %>

<div class="wrapper">
    <div class="a box">
        <div class="user-info">
            <div class="user-img"></div>
            <div class="user-detail">
                <div class="user-name t"></div>
                <div class="user-nickname t"></div>
                <div class="user-ranking t"></div>
            </div>
        </div>
        <div class="user-box"></div>
    </div>
    <div class="b box">B</div>
    <div class="c box">C</div>
    <div class="d box">D</div>
    <div class="e box">E</div>
    <div class="f box">F</div>
    <div class="g box">G</div>
</div>